.bg-header{
    background-image: linear-gradient(to bottom,
    rgba(253, 203, 110,.6),
    rgba(0, 206, 201,0.6),
    rgba(108, 92, 231,0.6)
    ), url('../img/bg-header.jpg');
/*     background: url('../img/bg-header.jpg');
 */    height: 100vh;
    background-position: center;
    background-size: cover;
}
.bg-card1{
    background: url('../img/1.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
}
.bg-card2{
    background: url('../img/2.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
}
.bg-card3{
    background: url('../img/3.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
}
.bg-card4{
    background: url('../img/4.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
}
.about1{
    background: url('../img/about.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
}